@use 'variables';
    /*2 eme section*/

    .fonctionality {
        &-section {
            display: flex;
            flex-direction: column;
        }

        &__title {
            font-size: 24px;
            font-weight: 700;
            padding-top: 30px;
            padding-left: 20px;
        }

        &__article {
            gap: 20px;
            display: flex;
            flex-direction: column;
            padding-bottom: 50px;
            padding-left: 20px;
            padding-right: 20px;
        }

        &__link {
            text-decoration: none;
        }

        &__box {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #eaeaea;
            border-radius: 20px;
            font-size: 16px;
            background-color: #f6f6f6;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
            color: black;
            text-decoration: none;

             i {
            margin-left: -30px;
            padding-right: 30px;
            color: #7E7E7E;
        }

        .icon3 {
            color:$purple-color;
        }
    
            .fonctionality__button {
                color: white;
                background-color:$purple-color;
                border: none;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                position:absolute;
                left: 10px;


            }
        }
    }

       
