.footer{
    padding-left:20px;
    padding-right: 20px;
    background-color: #353535;
    padding-top:30px;
    padding-bottom:30px;
    position: relative;


  
    &__title{
        color:white;
        padding-left:40px;
        font-family: shrikhand;
    }

    &__list1{
        color:red;
        list-style-type: none;   
      
      
}
    &__list2{
        color:white;
        list-style-type: none;
    }
    &__list3{
        color:white;
        list-style-type: none;
        display: flex;
        gap:10px;
        flex-direction: column;
    }
  
  
    
    &__link{
      
        color:white;
        text-decoration: none;
    }

    i{
        color:white;
        padding-right: 10px;
    }
}















