.footer{
    padding-left:20px;
    padding-right: 20px;
    background-color: #353535;
    padding-top:30px;
    padding-bottom:30px;


  
    &__title{
        color:white;
        padding-left:40px;
        
        
    }

    &__list{
        color:white;
        list-style-type: none;
        gap:10px;
      
}
    &__link{
      
        color:white;
        text-decoration: none;
    }
}















