@import '../css/variables.scss'; 

/*footer section*/
.footer{
    padding-left:20px;
    padding-right: 20px;
    background-color: #353535;
    padding-top:30px;
    padding-bottom:30px;

    @media screen and (min-width: 768px) and (max-width: 1023px){
        display: flex;
        flex-direction: row;
        justify-content: center;
       padding-left:0px;
       position: relative;
         padding-top:40px;
    }

    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 250px;
        position: relative;
        padding-top:50px;
        padding-bottom:10px;
    }
    
/*éléments*/    
    &__title{
        color:$white-color;
        font-size:20px;
        padding-left:40px;
        font-family: shrikhand;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            position: absolute;
            top:1px;
        }

        @media screen and (min-width: 1024px) {
            position: absolute;
            right:50px;
            top:42px;  
        }
    }

    &__list1{
        list-style-type: none;   
       }

    &__list2{
        color:$white-color;
        list-style-type: none;
        @media screen and (min-width: 1024px) {
            margin-left:-30px;  
        }
    }

    &__list3 {
        color:$white-color;
        list-style-type: none;
        display: flex;
        gap:10px;
        flex-direction: column;
        @media screen and (min-width:768px) and (max-width:1023px) {
            flex-direction: row;
            gap:30px;   
        }

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            gap:20px;  
        }
    }
  
    &__link{
        color:$white-color;
        text-decoration: none;
    }

    i {
        color:$white-color;
        padding-right: 10px;
    }
}















