/*header*/
@import 'mixin';

 .header {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__logo {
        width: 200px; 
        padding:20px; 
        display:flex;
        margin:auto; 
    }
    
    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eaeaea;
        padding: 1rem;
        @include box-shadows;
        position: relative;
        @media screen and (min-width: 1024px) {
            box-shadow: none;
            
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        margin-right: 0;
        
        i {
            
        color:black
            
        }
    }

    &__input {
        border: none;
        background: transparent;
        font-size: 1rem;
        padding: 0.5rem;
        width: 100%;
        margin-left:60px;
          
    } 
}
