@import "variables";
/*header section*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  /*éléments*/
  &__logo {
    width: 200px;
    padding: 20px;
    display: flex;
    margin: auto;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:$header-color;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;

    @media screen and (min-width: 1024px) {
      box-shadow: none;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-left:100px;

    i {
      color: black;
    }
  }

  &__input {
    border: none;
    background: transparent;
    font-size: 1rem;
    padding: 0.5rem;
    width: 80%;
  }
}

