 #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: overlay-fade 2s ease-out forwards; 
    
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid purple;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite; 
    

    &__letter {
        margin-top: 10px;
        font-family: roboto;
        font-size: 20px;
        color: purple;
        margin-top:60px;
       

   
    }
}

