/*1 ere section*/
@media (min-width: 375px) and (max-width: 768px) {

    .reservation-section {
        display: flex;
       background-color:#f6f6f6;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 50px;
        
    }
/*Éléments*/
    .reservation__title {
        font-size: 24px;
        font-weight: bold;
        margin-top: 30px;
        padding-left:50px;
        padding-right:50px;   
    }
        .reservation__paragraph {
            font-size: 18px;
            margin-top:-10px;
            color:#353525;
            padding-left:10px;
            padding-right:10px;
    }

    .reservation__button {
        margin-top:10px;
        border-radius: 30px;
        background:linear-gradient(to bottom,#ff79da, #9356dc);
        color: white;
        border: none;
        padding: 15px 30px;
        font-size: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        
    }
}