@use 'header';
@use 'reservation';
@use 'fonctionality';
@use 'footer';
@use 'restaurant';


html, body {
    padding:0;
    margin:0;
    width: 100%;;
    font-family: roboto;
}

* {

    max-width: 100%;
}






