@charset "UTF-8";
/*header*/
/*mixins générales*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  width: 200px;
  padding: 20px;
  display: flex;
  margin: auto;
}
.header__form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}
.header__icon {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-right: 0;
}
.header__icon i {
  color: black;
}
.header__input {
  border: none;
  background: transparent;
  font-size: 1rem;
  padding: 0.5rem;
  width: 50%;
  display: flex;
  margin: auto;
}
.header__input::-moz-placeholder {
  color: #353535;
  font-weight: 500;
}
.header__input::placeholder {
  color: #353535;
  font-weight: 500;
}

/*1 ere section*/
@media (min-width: 375px) and (max-width: 768px) {
  .reservation-section {
    display: flex;
    background-color: #f6f6f6;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
  }
  /*Éléments*/
  .reservation__title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .reservation__paragraph {
    font-size: 18px;
    margin-top: -10px;
    color: #353525;
    padding-left: 10px;
    padding-right: 10px;
  }
  .reservation__button {
    margin-top: 10px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #ff79da, #9356dc);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
/*2 eme section*/
@media (min-width: 375px) and (max-width: 768px) {
  .fonctionality-section {
    display: flex;
    flex-direction: column;
  }
  /*Éléments*/
  .fonctionality__title {
    font-size: 24px;
    font-weight: 700;
    padding-top: 30px;
    padding-left: 20px;
  }
  .fonctionality__article {
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .fonctionality__link {
    text-decoration: none;
  }
  .fonctionality__box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eaeaea;
    border-radius: 20px;
    font-size: 16px;
    background-color: #f6f6f6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: black;
    text-decoration: none;
  }
  i {
    margin-left: -30px;
    padding-right: 30px;
    color: #7E7E7E;
  }
  .icon3 {
    color: #9356dc;
  }
}
/*Restaurant*/
.restaurant-section {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

/*Éléments*/
.restaurant__article {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.restaurant__link {
  width: 100%;
  text-decoration: none;
  color: black;
}

.restaurant__title {
  padding: top 30px;
  padding-left: 15px;
}

restaurant__img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.restaurant__content {
  margin: left 10px;
}

.restaurant__box {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
}

* {
  max-width: 100%;
}/*# sourceMappingURL=style.css.map */