@use 'header';
@use 'reservation';
@use 'fonctionality';
@use 'footer';
@use 'restaurant';
@use 'loader';


html, body {
    padding:0;
    margin:0;
    width: 100%;
    font-family: roboto;
    @media screen  and (min-width:1440px){
        max-width:1440px;
        margin:auto;
    }
}


* {

    max-width: 100%;
}






