.entrees {
  background-color: #f6f6f6;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__bar {
   background-color:#81fcd7;
   width: 50px;
   height: 5px;
   margin-top:-20px;
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__title {
    font-size: 18px;
    font-weight: 300;
    padding-top: 20px;
  }
   /* 💫 Animation glissante */
  &__article {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    gap: 15px;
    opacity: 0;
    animation: fadeInLeft 0.8s ease forwards;
    animation-delay:0.5s ;

    @media screen and (min-width: 768px) {
      width: 60%;
      margin: auto;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__description {
    padding-left: 15px;
  }

  &__name {
    margin-bottom: -10px;
  }

  &__price {
    padding-top: 30px;
    padding-right: 15px;
  }
}

/* 🌈 Animation latérale (de gauche vers la droite) */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px); // départ sur le côté gauche
  }
  to {
    opacity: 1;
    transform: translateX(0); // position finale
  }
}