.header {

    &__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    
    &__logo {
        width: 200px;
        margin: auto;
        display: block;
        padding:20px;
    }

    &__icon {
      color:black;
      padding-left: 30px;;
    }

    &__img {
      
        width: 100%;
        height: 300px;
        object-fit: cover;
    }        
}


