@import "../css/variables.scss";
/*menu section*/
.block {
opacity: 0;
animation: slideInFromLeft 0.6s ease-out forwards;
animation-delay: 0.3s;
@media screen and (min-width: 768px) {
display: flex;
flex-direction: column;
justify-content: center;
  }
/*éléments*/
&__bar {
background-color: $greenligth-color;
width: 50px;
height: 5px;
margin-top: -10px;
margin-left: 0;
@media screen and (min-width: 768px) {
margin-bottom: 10px;
margin-left: 0;
    }
  }
&__link {
text-decoration: none;
color: inherit;
  }
&__title {
font-size: 18px;
font-weight: 300;
padding-top: 20px;
margin-left: 0;
@media screen and (min-width: 768px) {
padding-top: 0px;
margin-left: 0;
    }
  }
.block {
display: flex;
flex-direction: column;
padding-left: 20px;
padding-right: 20px;
gap: 15px;
@media screen and (min-width: 768px) {
width: 60%;
margin: auto;
    }
  }
.content {
display: flex;
flex-direction: column;
background-color: $white-color;
border-radius: 20px;
gap: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
padding: 10px 10px;
width: auto;
overflow: hidden;
position: relative;
margin: 15px 0;
@media screen and (min-width: 768px) {
margin: 7px 0;
    }
  }
.name {
margin-bottom: -15px;
margin-top: 1px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: calc(100% - 70px); 
  }
.content p {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: calc(100% - 70px); 
  }
.price {
text-align: right;
margin-top: -60px;
padding-right: 10px;
transition: transform 200ms ease-in-out;
white-space: nowrap; 
  }
.checkbox {
display: flex;
background-color: $greenligth-color;
color: $white-color;
width: 0;
height: 100%;
justify-content: center;
align-items: center;
transition: width 200ms ease-in-out;
position: absolute;
right: 0;
top: 0;
overflow: hidden;
border-radius: 0 20px 20px 0;
  }
.checkbox i {
font-size: 20px;
  }
.content:hover .checkbox {
width: 60px;
  }
.content:hover .price {
transform: translateX(-60px);
  }

.content:hover .name,
.content:hover p {
max-width: calc(100% - 130px); 
  }
}

@keyframes slideInFromLeft {
0% {
opacity: 0;
transform: translateX(-50px);
  }
100% {
opacity: 1;
transform: translateX(0);
  }
}
.starter {
opacity: 0;
animation: slideInFromLeft 0.6s ease-out forwards;
animation-delay: 0.3s;

}

.dish {
opacity: 0;
animation: slideInFromLeft 0.6s ease-out forwards;
animation-delay: 0.9s;
}
.dessert {
opacity: 0;
animation: slideInFromLeft 0.6s ease-out forwards;
animation-delay: 1.5s;
}

.btn {
display: flex;
flex-direction: row;
align-items: center;
margin: 15px 0;
cursor: pointer;
&--main {
margin-top: 10px;
border-radius: 30px;
background: linear-gradient(to bottom, #ff79da, #9356dc);
padding: 15px 30px;
font-size: 16px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
justify-content: center;
margin: 20px auto;
width: 150px;
transition: all 0.3s ease;
&:hover {
opacity: 0.8;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
transform: scale(1.01);
    }
  }
.button-link {
color: $white-color;
text-decoration: none;
  }
}