.restaurant__section {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top:-80px;
    z-index: 1;
    position: relative;
    background-color: #f6f6f6;;

    .restaurant__title {
        font-family: 'shrikhand';
        padding-top: 30px;
        margin-bottom: 16px;
        font-size: 24px;
        padding-left:15px;

    }

    .restaurant__button {
        position: absolute;
        top: 37px;
        left: 280px;
    }
}