.restaurant-section {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top:-80px;
    z-index: 1;
    position: relative;
    background-color: #f6f6f6;
    padding-bottom: 40px;
    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
        
    }
   
    
    .restaurant__title {
        font-family: 'shrikhand';
        padding-top: 30px;
        margin-bottom: 16px;
        font-size: 24px;
        padding-left:15px;
        @media  screen and (min-width:768px) and (max-width:1023px) {
            margin-bottom:5px;
            font-size:30px;
        }
    }

     .restaurant__button {
        position:absolute;
        z-index: 1;
    }

    .restaurant__heart-checkbox {
        display: none;
    }

    .restaurant__heart-label {
       cursor:grab;
        position:absolute;
        
        .fa-heart {
            position:absolute;
            font-size: 24px;
            transition: all 0.3s ease;    
            }
            
            .fa-heart::before {
                content: "\f004";
                font-weight: regular;
            }

            .fa-heart::after {
                content: "\f004";
                position:absolute;
                top: 0;
                left: 0;
                font-weight: bold;
                background: linear-gradient(#9356DC, #FF79DA);
                -webkit-background-clip: text;
                color: transparent;
                opacity: 0;
                transform: fadeInUp(100%);
                transition: all 0.6s ease;
            }
        }
    }

    @media screen and (max-width: 1023px) {
        .fa__heart-checkbox:checked + .fa__heart-label .fa-heart::after {
            opacity: 1;
            transform: translateY(0);
        }
    }

   
    @media screen and (min-width: 1024px) {
        .fa__heart-label:hover .fa-heart::after {
            opacity: 1;
            transform: translateY(0);
        }
    }
 
