.restaurant__section {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top:-80px;
    z-index: 1;
    position: relative;
    background-color: #f6f6f6;;

    .restaurant__title {
        font-family: 'shrikhand';
        padding-top: 30px;
        margin-bottom: 16px;
        font-size: 24px;
        padding-left:15px;

    }

    .restaurant__button {
        position: absolute;
        top: 37px;
        left: 280px;
    }
    .restaurant__heart-label {
       cursor:grab;
        position: relative;
        
        .fa-heart {
            font-size: 24px;
            position: relative;
            transition: all 0.3s ease;
            
            &::before {
                content: "\f004";
                font-weight: regular;
            }

            &::after {
                content: "\f004";
                position: absolute;
                top: 0;
                left: 0;
                font-weight: bold;
                background: linear-gradient(#9356DC, #FF79DA);
                -webkit-background-clip: text;
                color: transparent;
                opacity: 0;
                transform: translateY(100%);
                transition: all 0.3s ease;
            }
        }
    }

    @media screen and (max-width: 1023px) {
        &__heart-checkbox:checked + &__heart-label .fa-heart::after {
            opacity: 1;
            transform: translateY(0);
        }
    }

   
    @media screen and (min-width: 1024px) {
        &__heart-label:hover .fa-heart::after {
            opacity: 1;
            transform: translateY(0);
        }
    }
} 

