.restaurant {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f6f6f6;
  position: relative;
  margin-top: -50px;

  .restaurant-section {
    display: flex;
    flex-direction: row;

    @media screen and (min-width: 768px) {
      justify-content: center;
      align-items: center;
    }
  }

  .restaurant__title {
    font-family: 'Shrikhand';
    padding-top: 30px;
    margin-bottom: 16px;
    font-size: 24px;
    padding-left: 25px;
    @media screen and (min-width:768px) {
        padding-left:0;
    }
  }

  .restaurant__button {
    position: absolute;
    top:50px;
    right: 50px;
 @media screen and (min-width: 768px) { 
    position: relative;
    top: 13px;
    right:-30px;
    }
   
}

  .restaurant__heart-checkbox {
    display: none;
  }

  .restaurant__heart-label {
    cursor: grab;
    position: relative;

    .fa-heart {
      font-size: 24px;
      position: relative;
      transition: all 0.3s ease;

      &::before {
        content: "\f004";
        font-weight: 400;
      }

      &::after {
        content: "\f004";
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 700; 
        background: linear-gradient(#9356DC, #FF79DA);
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transform: translateY(10px);
        transition: all 0.6s ease;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    .restaurant__heart-checkbox:checked + .restaurant__heart-label .fa-heart::after {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (min-width: 768px) {
    .restaurant__heart-label:hover .fa-heart::after {
      opacity: 1;
      transform: translateY(0);
    }
  }
}