@use "header2";
@use "restaurant2";
@use "entrees";
@use "plats";
@use "desserts";
@use "footer2";
@import "../css/variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: roboto;
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    margin: auto;
  }
}

main {
  background-color: $ligth-color;
  @media screen and (min-width: 768px) {
    padding-left: 100px;
    padding-right: 100px;
    background-color: white;
  }
}

* {
  max-width: 100%;
}
