@use 'header2';
@use 'restaurant2';
@use 'entrees';
@use 'plats';
@use 'desserts';
@use 'footer2';

html, body {
    padding:0;
    margin:0;
    width: 100%;
    font-family: roboto;
}
main{
    background-color: #f6f6f6;
}


* {

    max-width: 100%;
}
