@use 'header2';
@use 'restaurant2';
@use 'entrees';
@use 'plats';
@use 'desserts';
@use 'footer2';

html, body {
    padding:0;
    margin:0;
    width: 100%;
    font-family: roboto;
    max-width: 1440px;
}
main{
    background-color: #f6f6f6;
    @media screen and (min-width:768px) {
        padding-left:100px;
        padding-right:100px;
        background-color: white;
        
    }
}


* {

    max-width: 100%;
}
